fastapi
uvicorn[standard]
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]==1.7.4
cryptography
pydantic-settings
python-dotenv
boto3
redis
slowapi
limits
pytest
pytest-asyncio
httpx
websockets
requests
python-multipart
psycopg2-binary
bcrypt==4.1.2
psycopg2
alembic